/*---------right section and Search box styling code---------*/
#right {
  display: inline-block;
  position: fixed;
  top: 48px;
  right: 10px;
}

#right input {
  width: 80%;
  padding: 5px;
  font-size: medium;
  font-family: sans-serif;
  border: 2px solid black;
  border-radius: 16px;
}

/*---------------Logo styling code--------------*/
#images {
  display: inline-block;
  position: absolute;
  top: 44px;
  right: 264px;
}
#images img {
  width: 72px;
  border-radius: 15px;
}

/*------------Left section code-----------*/
#left {
  position: fixed;
  top: 20px;
  left: 50px;
  width: 510px;
}

.navbar ul li {
  background-color: black;
  color: aliceblue;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

/*----------------Form styling code-------------*/
.forum {
  width: 30%;
  position: absolute;
  top: 180px;
  right: 300px;
  display: block;
  background-color: black;
  border-radius: 30px;
  padding: 10px;
}

.forum h3 {
  display: block;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  color: wheat;
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  border: 2px solid rgb(136, 105, 26);
  border-radius: 10px;
}

#order-form {
  display: block;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#order-form form {
  display: block;
  margin: 30px auto;
}

#order-form Input {
  display: block;
  width: 250px;
  padding: 9px;
  margin: 10px auto;
  text-align: center;
  background-color: black;
  color: white;
  border: 2px solid rgb(136, 105, 26);
}

/*display:block and margin:auto alings element in center*/
#order-form button {
  border: 3px solid white;
  border-radius: 20px;
  display: block;
  margin: 20px auto;
  width: 25%;
  padding: 8px;
  background-color: black;
  color: greenyellow;
}
/*-------------Pseudo selectors code--------------*/
.navbar ul li:hover {
  color: yellowgreen;
  cursor: pointer;
  text-decoration: underline;
}

#images img:hover {
  cursor: pointer;
  width: 90px;
}

#images:hover {
  top: 40px;
}

#order-form button:hover {
  padding: 10px 0px;
  cursor: pointer;
  border: 3px solid rgb(221, 66, 66);
}
