/*CSS reset*/
* {
  margin: 0px;
  padding: 0px;
}

/* ===================== The Navbar =========================== */
/*logo styling*/
#navbar {
  display: flex;
  position: relative;
}

#logo img {
  width: 59px;
  height: 55px;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 60%; /*border-radius: 50% will give circular shape to borders*/
}

/*Login styling*/
.login {
  display: flex;
  margin: 10px 20px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 22px;
  right: 30px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 18px;
}
.login i {
  margin: 4px;
}

/*adding a background effect using 'before'*/
#navbar::before {
  content: "";
  z-index: -1;
  opacity: 0.5;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*styling the list*/
#navbar ul {
  display: flex;
  position: absolute;
  top: 22px;
  left: 100px;
}

#navbar li {
  list-style: none;
  color: black;
  font-family: "Segoe UI", Tahoma;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 16px;
  padding: 10px;
  border-radius: 20px;
}

/*Pseudo selectors*/
#navbar li:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.login:hover {
  background-color: aliceblue;
  cursor: pointer;
}

/* ============================The Home Part=================================== */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 200px;
  height: 400px;
}

/*setting background image*/
#home::before {
  content: "";
  background: url("../images/bg1.jpg") no-repeat center center/cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.45;
}

/*Header*/
#home h2 {
  padding: 30px;
}

/*paragraph*/
#home p {
  font-family: "Crete Round", serif;
  text-align: justify;
  font-size: 1.38rem;
  padding: 20px;
}
#home button {
  font-family: "Poppins", "Lucida Sans Regular";
  background-color: black;
  color: gold;
  border: 3px solid whitesmoke;
}

/*pseudo selectors*/
#home button:hover {
  padding: 8px 20px;
  color: yellowgreen;
  text-decoration: underline;
  cursor: pointer;
}

/* ================ Top places styling=================== */

/* utility classes => help in applying common styling to elements */
.heading-primary {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 3rem;
}
.heading-secondary {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}
.btn {
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
}
