/*CSS reset*/
* {
  margin: 0px;
  padding: 0px;
}

/* ===================== The Navbar =========================== */

/*Making the navbar fixed and styling more*/
#navbar {
  display: flex;
  position: absolute;
  width: 100%;
}

/*logo styling*/
#logo img {
  width: 65px;
  height: 60px;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 60%; /*border-radius: 50% will give circular shape to borders*/
}

/*Login styling*/
.login {
  display: flex;
  margin: 10px 20px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 30px;
  padding: 8px;
  border-radius: 18px;
}
.login i {
  margin: 4px;
}

/*adding a background effect using 'before'*/
#navbar::before {
  content: "";
  z-index: -1;
  opacity: 0.2;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*styling the list*/
#navbar ul {
  display: flex;
  position: absolute;
  top: 15px;
  left: 100px;
}

#navbar li {
  list-style: none;
  color: black;
  font-family: "Segoe UI", Tahoma;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 16px;
  padding: 10px;
  border-radius: 20px;
}

/*Pseudo selectors*/
#navbar li:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.login:hover {
  background-color: aliceblue;
  cursor: pointer;
}

/* ============================The Home Part=================================== */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 150px;
  height: 685px;
}

/*setting background image*/
#home::before {
  content: "";
  background: url("../images/bg1.jpg") no-repeat center center/cover;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 78%;
  opacity: 0.45;
}

/*Header*/
#home h2 {
  position: relative;
  top: -120px;
  left: 60px;
}

/*paragraph*/
#home p {
  font-family: "Crete Round", serif;
  text-align: justify;
  font-size: 1.38rem;
  padding: 20px;
  position: relative;
  top: -50px;
  left: 60px;
}

#home button {
  font-family: "Poppins", "Lucida Sans Regular";
  background-color: black;
  color: gold;
  border: 3px solid whitesmoke;
}

/*pseudo selectors*/
#home button:hover {
  padding: 8px 20px;
  color: yellowgreen;
  text-decoration: underline;
  cursor: pointer;
}

/* ================ Top places styling=================== */

/*Styling the induvidual place box*/
#popular-places {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 5px;
}

#popular-places::before {
  content: "";
  z-index: -1;
  background-color: skyblue;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
}

.place-details {
  display: flex;
  margin: 20px;
  justify-content: center;
}

#popular-places .locations {
  border: 2px solid slategray;
  width: 350px;
  margin: 5px 15px;
  border-radius: 20px;
  background-color: black;
  color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

#popular-places .locations img {
  height: 200px;
  width: 300px;
  padding: 10px 5px;
}

#popular-places .locations .description {
  text-align: center;
  padding: 10px 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*Pseudo selectors*/
#popular-places .locations img:hover {
  cursor: pointer;
}

/* ============  Footer section ============== */
#footer::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 13%;
  opacity: 0.9;
  z-index: -1;
}

#footer .credits {
  padding: 20px;
  color: rgb(209, 192, 97);
  text-align: center;
}

#footer span {
  color: white;
  font-size: large;
  position: relative;
  top: 10px;
  font-family: monospace;
}

/* ============== Contact Section ================== */
#contact-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  height: 800px;
}

#contact-box::before {
  background: url("../images/contact3.jpg") no-repeat center center/cover;
  content: "";
  z-index: -1;
  opacity: 0.5;
  position: absolute;
  height: 104%;
  width: 100%;
}

#contact-box h2 {
  width: 250px;
  padding: 10px 2px;
  border: 2px solid white;
  background-color: black;
  color: azure;
  border-radius: 12px;
  position: relative;

  margin: auto;
  top: -50px;
}

#contact-box .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 29px 5px;
  position: relative;
  top: -160px;
}

.details label {
  font-size: 1.35rem;
  margin: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.details input {
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  height: 30px;
  width: 350px;
}

#contact-box .btn-form {
  height: 50px;
  width: 200px;
  margin: 40px 2px;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid palevioletred;
  background-color: black;
  color: whitesmoke;
}

/*Pseudo selector*/
#contact-box .btn-form:hover {
  color: rgb(131, 215, 248);
  cursor: pointer;
}

/* ========= Utility classes============> help in applying common styling to elements */
.heading-primary {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 3rem;
}

.heading-secondary {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 7px;
}

.heading-third {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  margin: 8px;
}

.btn {
  padding: 8px 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.6rem;
}
